<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="Demisauce" type="Demisauce.DemisauceConfiguration,Demisauce"/>
  </configSections>

  <!-- Demisauce CONFIGURATION

	<Demisauce 
    	location="http://localhost:4950"
		apiKey="1234567890abc"	// required - your API Key
		CacheDuration="3600"	// optional, Cache time in seconds, defaults to 3600 (1 hour)
		>
	</Demisauce>
	-->

  <Demisauce apiKey="a95c21ee8e64cb5ff585b5f9b761b39d7cb9a202" 
             cacheDuration="10" 
             location="http://localhost:4950"
	>
  </Demisauce>

  <appSettings/>
  <connectionStrings/>
  
  <system.web>
    <compilation debug="true" />
    <authentication mode="Windows" />
    <pages>
      <controls>
    	<!-- Register prefix for ASP.NET controls on pages -->
        <add tagPrefix="DS" namespace="Demisauce" assembly="Demisauce" />
      </controls>
    </pages>
  </system.web>
</configuration>
