<%def name="actions(item)">
    <div class="actionbar" style="height:34px; ">
        <div class="right boxlinks_action boxlinks"  style="margin-top:-4px;">
            <ul>
                <li><a href="/poll/edit" id="addemail" objid="0">
                    <img  alt="Add New Poll" src="/images/icon_add.png" style="vertical-align: bottom;" border="0" />
                    Add New Poll</a></li>
            </ul>
        </div>
    </div>
</%def>
<%def name="list(items)">
    % if items:
    % for item in items:

        <div id="item_${item.id}" class="nodedisplay clearfix">
            ${h.link_to(item.name, h.url(controller="poll",action="view", id=item.key), class_="title")}
            ${h.link_to('Edit', h.url(controller="poll",action="edit", id=item.id), class_="title")}, 
            ${h.link_to('View Xml', "/api/xml/poll/%s" % item.key)}
            <p class="description">
                ${h.simple_format(item.description)}
            </p>
        </div>

    % endfor
    % endif
</%def>
<%def name="view(item)">
    % if item:
        <div id="poll_${item.id}" class="ds-poll">
            
            % for q in item.questions:
                <div id="question_${q.id}">
                    <div>${q.question}</div>
                    % for o in q.options:
                         <div type="${o.type}">
                            <input id="ds_option_${o.id}" class="ds-poll-radiobutton" type="radio" name="ds_option_${o.id}" value=""/>
                            <label for="ds_option_${o.id}">${o.option}</label>
                        </div>
                    % endfor
                </div>
            % endfor
            <div class="ds-poll-vote">
                <input class="" type="button"  src="" style="border: medium none ; cursor: pointer;"/>
                <a href="javascript:void(0);">> View Results ssss</a>
            </div>
        </div>
    % endif
</%def>

<%def name="qoform(q,o)">
            <div type="${(o and o.type) or 'radio'}">
                <label for="option"></label>
                <img src="/images/move.png" border="0" style="border:0" class="move"/> 
                <input type="text" name="question_option" o_id="${(o and o.id) or '0'}" value="${(o and o.option) or ''}" id="question_option" style="width:350px"/>
                <img src="/images/cross.png" border="0" style="border:0" class="delete"/> <a href="javascript:void(0);"></a>
            </div>
</%def>
<%def name="qform(q)">
    <div class="required">
        <label for="question">Question:</label>
        ${h.text_area("question", content=(q and q.question) or '', q_id=(q and q.id) or '0', size="40x3")}
    </div>
    <div id="question_options">
        <label for="questionoptions">Question Options:</label><br />
        <div id="question_${(q and q.id) or '0'}"  q_id="${(q and q.id) or '0'}">
                % if q and q.options:
                    % for o in q.options:
                        ${qoform(q,o)}
                    % endfor
                % endif
                ${qoform(q,None)}
                ${qoform(q,None)}
        </div>
    </div>
    <div class="optional">
            <label for="question_type">Question Type:</label>
            ${h.radio_button('question_type', 'multiplechoice',checked=(q and q.type == 'multiplechoice'))} Multiple Choice 
            ${h.radio_button('question_type', 'radio',checked=(q and q.type == 'radio'))} Single Choice 
            ${h.radio_button('question_type', 'radiowother',checked=(q and q.type == 'radiowother'))} Single Choice plus text Other 
    </div>
</%def>
<%def name="form(item,mode='admin')">
    <script type="text/javascript">
        $(document).ready(function() {
            $.ds = $.ds || {};
            $.fn.ds_poll_admin = function(options) {
                return this.each(function() {
                    if (!$(this).is(".ds-poll-admin")) new $.ds.polladmin(this, options);
                });
            };
            $.ds.polladmin = function(el, options) {
                var self = this; 
                self.options = $.extend({isloaded:false,
                    q_ids:[],
                    id:0,
                    qoption_html:'<div><label for="option"></label> \
                                    <img src="/images/move.png" border="0" style="border:0"/> \
                                    <input id="question_option" class="tempforjq" o_id="0" name="question_option" style="width:350px" type="text" value="" /> \
                                    <img src="/images/cross.png" border="0" style="border:0" class="delete"/></div> ',
                            }, options);
                this.element = el; 

                $('#name').focus();
                self.options.q_ids = $('#q_ids').val().split(',');
                $('#question_options div').sortable({items:'div',stop:self.option_sort_complete});

                $('#question_options div div input[o_id=0]').blur(function(){
                    if ($(this).val() != ''){
                        self.add_option(this);
                    } else {
                        self.remove_option(this);
                    }
                });
                $('#question_options div div[type=other] input').each(function(){
                    $(this).attr("disabled", "disabled").next('img.delete').attr('src','');
                });
                $('#name,#question').each(function(){
                    $(this).attr('originalval',$(this).val());
                });

                $('#question_options div div input').blur(function(){
                    if ($(this).attr('originalval') != $(this).val()){
                        self.option_update(this);
                        $(this).attr('originalval',$(this).val());
                    }
                }).not('input[o_id=0]').each(function(){
                    $(this).attr('originalval',$(this).val());
                });
                $('img.delete').not('input[o_id=0]').click(function(){
                    self.delete_option(this);
                });
                $('#question').blur(function(){
                    self.question_update(this);
                });
                $('form input[name=question_type]').click(function(){
                    if($(this).val() == 'radiowother'){
                        self.add_option($('#question_options div div input:last'),'other')
                    } else if ($(this).val() == 'radio'){
                        $('#question_options div div[type=other]').empty();
                    } else if ($(this).val() == 'multiplechoice'){
                        $('#question_options div div[type=other]').empty();
                    }

                });
                $('#jq_add_question').click(function(){
                    $('#placeholder_for_newq').before(self.options.qoption_html);
                });
            }

            $.extend($.ds.polladmin.prototype, {
                add_option: function(element,other) {
                    var self = this;
                    if (other == undefined){
                        $(element).parent().parent().append(self.options.qoption_html);
                    } else {
                        $(element).parent().after(self.options.qoption_html);
                        $('#question_options div div input.tempforjq:first').val('other').
                            attr('disabled','disabled').parent().attr('type','other');
                    }

                    $('#question_options div').sortable({items:'div',stop:self.option_sort_complete});
                    $('#question_options div div input.tempforjq').blur(function(){
                        self.add_option(this);
                    }).removeClass('tempforjq').next().click(function(){
                        self.delete_option(this);
                    });
                    $(element,'~ input').focus();
                },
                remove_option: function(element) {
                    $(element,'~ input').parent().empty();
                    $('#question_options div div:last').empty();
                },
                option_sort_complete: function(event,ui) {
                    var ol = Array(); 
                    $('#question_options div div input').each(function(){
                         ol.push('o_id='+$(this).attr('o_id'));
                    });
                    var d = $('#question_options div div input,#poll_id,#question_options div div input').fieldSerialize();
                    d += '&' + ol.join('&') + '&q_id=' + $(this).parent().attr('q_id');
                    $.post("/poll/sort/", d, function(msg){
                        $.showmessage( "sort completed: ");
                    }, "json");
                },
                option_update: function(option) {
                    var data = { poll_id: $('#poll_id').val(), 
                        question_option: $(option).val(),
                        o_id: $(option).attr('o_id'),
                        q_id: $(option).parent().parent().attr('q_id'),};
                    $.post("/poll/optionupdate/", data, function(msg){
                            //$.showmessage( "update completed: ");
                            if ($(option).attr('o_id') == 0){
                                $(option).attr('o_id',msg.o_id)
                            }
                    }, "json");
                },
                delete_option: function(option) {
                    var oid = $(option).parent().children('input').attr('o_id');
                    if (oid != 0){
                        $.post("/poll/delete/", { oid: oid}, function(msg){
                            $.showmessage( " " + msg.msg );
                         }, "json");
                    }
                    $(option).parent().empty();
                },
                question_added: function(element,id) {
                    $(element).attr('q_id',id);
                    if ($.inArray(id,this.options.q_ids == -1)){
                        this.options.q_ids.push(id);
                        $('#q_ids').val(this.options.q_ids.toString());
                    }
                },
                question_update: function(element) {
                    var self = this;
                    if ($(element).val() != '' && $(element).attr('originalval') != $(element).val()){
                        var data = { poll_id: $('#poll_id').val(), 
                            option: $('#question_option').fieldSerialize(),
                            name: $('#name').val(),
                            question:$('#question').val(),
                            q_id: $(element).attr('q_id'),};
                        $.post("/poll/postquestion/", data, function(msg){
                            $.showmessage( "Data Saved: " + msg.poll.id );
                            if (msg.poll.id > 0 && $('#poll_id').val() == 0){
                                $('#poll_id').val(msg.poll.id);
                                self.options.id = msg.poll.id;
                                self.question_added(element,msg.poll.q_id)
                            }
                        }, "json");
                    }
                }
            });

            $('body').ds_poll_admin();
        });
    </script>
    
    <br />
    ${h.form(h.url(action='edit'),  class_="", method='post', id="poll_form")}
        <input type="hidden" id="poll_id" name="poll_id" value="${(item and item.id) or '0'}">
        <input type="hidden" name="q_ids" id="q_ids" value="${(item and item.question_ids) or ''}" />
        
        <div class="base_form main_form" id="FormWrapper">
            <div class="yui-gc" >
                <div class="yui-u first">
                    <div>
                        <input type="hidden" id="objectid" name="objectid" value="item and item.id) or '0'}">
                        <h1>Poll Add Edit</h1>
                        <strong>Bold</strong> fields are required.
                        <div class="required">
                            <label for="name">Poll Name</label>
                            ${h.text_field('name', value=(item and item.name) or '', size=40)}
                        </div>
                        <div class="required" id="permalink_div" style="display:block;">
                            <label for="slug">Permalink:</label>
                            <span id="permalink" class="secondary">
                                <span id="editable-slug-span" title="Click to edit this part of the permalink">${(item and item.key) or ''}</span>
                                <a href="javascript:void(0)" id="editable-slug-href">Edit</a>
                            </span>
                            <input type="hidden"  size="100" id="permalink"  value="${(item and item.key) or ''}" />
                            <br />
                            <input type="text" id="real_permalink" name="real_permalink" 
                                value="${(item and item.key) or ''}" style="display:none;"/>
                        </div>
                        % if item and item.questions:
                            % for q in item.questions:
                                ${qform(q)}
                            % endfor
                        % else:
                             ${qform(None)}
                        % endif
                        <!--
                        <div id="placeholder_for_newq"></div>
                        <div class="actionbar" >
                            <div class="right boxlinks_action boxlinks"  style="margin-top:-4px;">
                                <ul>
                                    <li><a href="javascript:void(0);" id="jq_add_question">
                                        <img  alt="Add New question" src="/images/icon_add.png" style="vertical-align: bottom;" border="0" />
                                        Add New Question</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
                <div class="yui-u">
                    <div class="tiny_form">
                        % if item:
                            ${h.link_to('view xml', '/api/xml/poll/%s' % (item and item.key) or '')}
                            <br />
                            ${h.link_to('view html', h.url(controller="poll",action="view", id=item.id))}
                        % endif
                        
                        <div class="optional">
                            <label for="description">Description:</label>
                            ${h.text_area("description", content=(item and item.description) or '', size="30x3", _style="width=190px;")}
                        </div>
                        <div class="optional">
                            <fieldset> 
                                <legend>Allow Anoymous?</legend>
                                ${h.radio_button('allow_anonymous', '0',checked=(item and item.allow_anonymous == 0))} False <br />
                                ${h.radio_button('allow_anonymous', '1',checked=(item and item.allow_anonymous == 1))} True <br />
                            </fieldset> 
                        </div>
                        <div class="optional">
                            <label for="css">css:</label>
                            ${h.text_area("css", content=(item and item.css) or '', size="30x3", _style="width=190px;")}
                        </div>
                        <div class="box2" style="margin:10px 0px;">
                            ${h.remote_html('root/help/poll/edit')}
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <input type="submit" class="primary" id="submit" value="Save &#187;">
                &nbsp;&nbsp;<a href="/poll" id="cancelnode">cancel</a>
            </div>
        </div>
    
    ${h.end_form()}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#poll_form').slugeditor({slugfrom: '#name'});
        });
    </script>
    
</div>

</%def>
