<%namespace name="poll" file="poll_bits.html"/>
<%inherit file="../_base1col.html"/>


{% macro title() %}Poll Preview {%- endmacro %}

<div >
    <div class="bar1">
        <h3>Poll Preview Page</h3>
    </div>
    <br />
    <div class="yui-g" >
        <div class="yui-u first">
            {{c.item.html}
            <div class="box2 box">
               {{c.item.results}
            </div>
            
            <script type="text/javascript">
            $(document).ready(function() {
                $('#ds-poll-results').show();
            });
            </script>
        </div>
        <div class="yui-u">
            <div class="box2 box">
               {{poll.response_list(c.item)}
            </div>
            
        </div>
    </div>



</div>

