<%namespace name="service" file="service_bits.html"/>
<%inherit file="../_base2col.html"/>


<%def name="title()">Services and Applications Add/Edit </%def>


<div class="bar1">
    <h3>Application's' listing</h3>
</div>


% if c.item:
    <br />
    ${service.app_view(c.item)}
% else:
    <div >
        ${service.appminilist(c.apps)}
    </div>
    
% endif


<%def name="sidebar_top()">
    % if c.user is not None:
    <div >
        ${service.actions()}
    </div>
    <br />
    
    <div class="bar1">
        <span class="h3">Filter By</span>
    </div>
    <div style="margin:8px;padding:0px;"><h4></h4></div>
    <ul class="filter" style="margin:8px;">
        <li><a href="/service/owner/mine" class="${h.is_current_filter(filter='owner',value='mine')}">Owned By Me</a></li>
        <li><a href="/service/owner/all" class="${h.is_current_filter(filter='owner',value='all')}">All</a></li>
        <li><a href="#" class=""></a></li>
    </ul>
    % endif
    
    
    % if c.item:
        <div class="box box2">
             <h3 style="">Other Services for ${c.item.name}</h3>
             % if c.item is not None and c.item.services:
                 ${service.minilist(c.item.services)}
             % endif
         </div>
         
         <div class="box box2">
              <h3 style="">Other Apps for ${c.item.site.name}</h3>
              % if c.item is not None and c.item.site.apps:
                  ${service.appminilist(c.item.site.apps)}
              % endif
          </div>
    % else:
        <div class="box box2">
            <h3 style="">Recent Updated Services</h3>
            % if c.recent:
                ${service.minilist(c.recent)}
            % endif
        </div>

    % endif


</%def>


