<%def name="actions()">
    % if c.user and c.user.isadmin:
    <div class="actionbar" style="height:35px; ">
        <div class="boxlinks_action boxlinks"  style="margin-top:-4px;">
            <ul>
                <li><a href="/service/edit/" id="addapp" objid="0">
                    <img  alt="Add New Service" src="/images/icon_add.png" style="vertical-align: bottom;" border="0" />
                    Add New Service</a></li>
                <!--<li><a href="/service/appedit" id="addapp" objid="0">
                        <img  alt="Add New App" src="/images/icon_add.png" style="vertical-align: bottom;" border="0" />
                        Add New App</a></li>-->
            </ul>
        </div>
    </div>
    % endif
</%def>
<%def name="form(item,app,mode='admin')">

    <br />
    ${h.form(h.url(action='edit'),  class_="", method='post', id="service_form")}
        
        <div class="base_form main_form" id="FormWrapper">
            <div class="yui-gc" >
                <div class="yui-u first">
                    <div>
                        <input type="hidden" id="service_id" name="service_id" value="${(item and item.id) or '0'}">
                        <h1>Service Add/Edit</h1>
                        <strong>Bold</strong> fields are required.
                        <div class="required">
                            <label for="name">Service Name</label>
                            ${h.text_field('name', value=(item and item.name) or '', size=40)}
                        </div>
                        <div class="required" id="permalink_div" style="display:block;">
                            <label for="slug">Permalink:</label>
                            <span id="permalink" class="secondary">
                                <span id="editable-slug-span" title="Click to edit this part of the permalink">${(item and item.key) or ''}</span>
                                <a href="javascript:void(0)" id="editable-slug-href">Edit</a>
                            </span>
                            <input type="hidden"  size="100" id="permalink"  value="${(item and item.key) or ''}" />
                            <br />
                            <input type="text" id="real_permalink" name="real_permalink" 
                                value="${(item and item.key) or ''}" style="display:none;"/>
                        </div>
                        <div class="optional">
                            <label for="description">Description:</label>
                            ${h.text_area("description", content=(item and item.description) or '', size="30x3", _style="width=190px;")}
                        </div>
                        <div class="optional">
                            <label for="app">app:</label>
                            ${h.select("app", [(item and item.app_id) or c.app_list[0][0]],c.app_list, id='app')} <a href="javascript:void(0);" id="add_new_app" objid="0">Add New App</a>
                        </div>
                        <div class="required">
                            <label for="format">Format</label>
                            ${h.text_field('format', value=(item and item.format) or '', size=40)}
                        </div>
                        <div class="optional">
                            <label for="method_url">Method URL</label>
                            ${h.text_field('method_url', value=(item and item.method_url) or '', size=160)}
                        </div>
                    </div>
                </div>
                <div class="yui-u">
                    <div class="tiny_form">
                        % if item and item.id > 0:
                            ${h.link_to('view xml', '/api/xml/service/%s/%s' % (((item and item.app) and item.app.slug) or 'demisauce',(item and item.key) or ''))}
                            <br />
                            ${h.link_to('view html', h.url(controller="services",action="view", id=item.id))}
                        % endif
                        
                        <div class="optional">
                            <fieldset> 
                                <legend>List In Public List?</legend>
                                ${h.radio_button('list_public', '1',checked=(item and item.list_public == True))} Yes <br />
                                ${h.radio_button('list_public', '0',checked=(item and item.list_public == False))} No <br />
                            </fieldset> 
                        </div>
                        <div class="box2" style="margin:10px 0px;">
                            ${h.remote_html('root/help/services/edit')}
                        </div>

                    </div>
                </div>
            </div>
            <div class="actions">
                <input type="submit" class="primary" id="submit" value="Save &#187;">
                &nbsp;&nbsp;<a href="/service" id="cancelnode">cancel</a>
            </div>
        </div>
    
    ${h.end_form()}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#service_form').slugeditor({slugfrom: '#name'});
            $('#add_new_app').click(function(){
                var app_form = $('#hidden_app_div').html();
                $('#app_form').attr('id','old_app_form');
                jQuery.facebox(app_form);
                $('#app_form').dshints();
                $('#app_form').submit(function() { 
                    var app_name = $('#app_form #app_name').val();
                    $('#app_form').ajaxSubmit({success: function(responseText, statusText)  {
                        if (statusText == "success") {
                            newid = responseText;
                            $('#service_form #app').append("<option value=\"" + newid + "\">"+ app_name + "</option>");
                            $('#service_form #app').val(newid); 
                            //alert(responseText + app_name);
                            $('#facebox .close').trigger('click');
                            $('#old_app_form').attr('id','app_form');
                        } else {
                            alert(statusText)
                        }
                    }});
                    return false; 
                });
            });
        });
    </script>
    <div id="hidden_app_div" style="display:none">
        ${app_form(None)}
    </div>
    <div class="clear"></div>

</%def>
<%def name="app_form(item)">
    ${h.form(h.url(action='appedit'),  class_="", method='post', id="app_form")}
    <div class="base_form small_form" id="FormWrapper">
        <div>
            <div style="margin:12px 12px">
                <input type="hidden" id="app_id" name="app_id" value="${(item and item.id) or '0'}">
                <h3>App Add/Edit</h3>
               <div class="required">
                    <label for="app_name">App Name</label>
                    ${h.text_field('app_name', value=(item and item.name) or '', size=40)}
                </div>
                <div class="required">
                     <label for="base_url">Base Url</label>
                     ${h.text_field('base_url', value=(item and item.base_url) or '', size=40)}
                 </div>
                <div class="optional">
                    <label for="description">description:</label>
                    ${h.text_area("description", content=(item and item.description) or '', size="45x3")}
                </div>
                <div class="optional">
                    <fieldset> 
                        <legend>Auth Method?</legend>
                        ${h.radio_button('authn', '0',checked=(item and item.authn == 0))} demisauce <br />
                        ${h.radio_button('authn', '1',checked=(item and item.authn == 1))} oauth <br />
                        ${h.radio_button('authn', '2',checked=(item and item.authn == 2))} CAS <br />
                    </fieldset> 
                </div>
            </div>
        </div>
        <div class="actions submit">
            <input type="submit" class="primary" id="submit" value="Save &#187;">
        </div>
    </div>
    ${h.end_form()}
    <script type="text/javascript">
    $(document).ready(function(){

    });
    </script>
</%def>


<%def name="table(items)">
<table class="dsadmin">
    <thead>
        <tr>
            <th>View</th>
            <th>Xml</th>
            <th></th>
            <th>Date</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
    % for item in items:
        <tr class="${h.cycle("", "alternate") }">
            <td>${h.link_to(item.name, h.url(controller="service",action="view", id=item.id), class_="xtitle")}</td>
            <td>${h.link_to('View Xml', "/api/xml/service/%s/%s" % (item.app.slug,item.key))}</td>
            <td>${h.link_to('Edit', h.url(controller="service",action="edit", id=item.id), class_="title")}</td>
            <td>${(item.created).strftime("%b %d, %Y") or ''}</td>
            <td>${h.link_to(item.owner.displayname, h.url(controller="account",action="viewh", id=item.owner.hashedemail))}</td>
        </tr>
        
    % endfor
    </tbody>
</table>
</%def>
<%def name="detail_view(item)">
<dl>
    <dt>Name:</dt>          <dd><h3>${item.name}
        % if item.site_id == c.site_id or (c.user is not None and c.user.issysadmin):
            ${h.link_to('Edit', h.url(controller="service",action="edit", id=item.id), class_="title")}
        % else:
        
        % endif
    </h3></dd>
    <dt>key:</dt>          <dd>${item.key}</dd>
    <dt>Author:</dt>        <dd>
                                % if c.user and c.user.isadmin and c.user.site_id == item.site_id:
                                    ${h.link_to(item.owner.displayname, h.url(controller="account",action="viewh", id=item.owner.hashedemail))}
                                % else:
                                    ${item.owner.displayname}
                                % endif
                            </dd>
    <dt>Created:</dt>       <dd>${(item.created).strftime("%b %d, %Y") or ''}</dd>
    <dt>Site:</dt>          <dd>${h.link_to(item.site.name, h.url(controller="site",action="view", id=item.site_id))}</dd>   
    <dt>Site URL:</dt>      <dd>${item.app.base_url}</dd>
    <dt>App:</dt>           <dd>${item.app.name}</dd>
    <dt>Service URL:</dt>   <dd>${item.method_url or 'na'}</dd>
    <dt>View XML:</dt>      <dd>${h.link_to('View Xml', "/api/xml/service/%s/%s" % (item.app.slug,item.key))}</dd>
    <dt>Description:</dt>   <dd>${item.description}</dd>
    
</dl>
    

    
</%def>
<%def name="app_view(item)">
<dl>
    <dt>Name:</dt>          <dd><h3>${item.name}</h3></dd>
    <dt>Slug:</dt>          <dd>${item.slug}</dd>
    % if c.user and c.user.isadmin and c.user.site_id == item.site_id:
    <dt>Edit:</dt>        <dd>
                                
                                    ${h.link_to('Edit', h.url(controller="service",action="appeditform", id=item.id))}
                                
                            </dd>
    % endif
    <dt>Author:</dt>        <dd>
                                % if c.user and c.user.isadmin and c.user.site_id == item.site_id:
                                    ${h.link_to(item.owner.displayname, h.url(controller="account",action="viewh", id=item.owner.hashedemail))}
                                % else:
                                    ${item.owner.displayname}
                                % endif
                            </dd>
    <dt>Created:</dt>       <dd>${(item.created).strftime("%b %d, %Y") or ''}</dd>
    <dt>Site:</dt>          <dd>${h.link_to(item.site.name, h.url(controller="site",action="view", id=item.site_id))}</dd>  
    <dt>base_url:</dt>      <dd>${item.base_url}</dd> 
    <dt>Description:</dt>   <dd>${item.description}</dd>
    <dt>Public:</dt>        <dd>${item.list_public}</dd>
    
</dl>
    

    
</%def>
<%def name="publicview(items)">
    % for item in items:
        % if item.site_id == c.site_id or item.list_public or (c.user is not None and c.user.issysadmin):
            <div class="${h.cycle("", "alternate") }">
                ${h.link_to(item.name, h.url(controller="service",action="view", id=item.id), class_="xtitle")}
                
                ${h.simple_format(h.truncate(item.description, 120))}
                <br />
            </div>
        % endif
    % endfor
</%def>

<%def name="minilist(items)">
% for item in items:
    % if item.site_id == c.site_id or item.list_public or (c.user is not None and c.user.issysadmin):
        <div>
            ${h.link_to(item.name, h.url(controller="service",action="view", id=item.id), class_="xtitle")}
        </div>
    % endif
% endfor
</%def>

<%def name="appminilist(items)">
% for item in items:
    <div>
        ${h.link_to(item.name, h.url(controller="service",action="appview", id=item.id), class_="xtitle")}
    </div>
% endfor
</%def>
