{% import 'service/service_bits.html' as service with context %}
{% extends "_base2col.html" %}

{% block title %}Demisauce Integration Services and Applications Add/Edit {% endblock %}
{% block head_more %}{% endblock %}
{% block bodystart %}
{% endblock %}

{% block inner_body %}

<div class="bar1">
    <h3>Application</h3>
</div>


{% if item %}
    {{service.app_form(item)}}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#app_form').dshints();
            $('#app_form').submit(function() { 
                $('#app_form').ajaxSubmit({success: function(responseText, statusText)  {
                    if (statusText == "success") {
                        alert('success')
                    } else {
                        alert(statusText)
                    }
                }});
                return false; 
            });
        });
    </script>
{% else %}
No app
    
{% endif %}

{% endblock %}





