{% macro actions() %}
   {% if current_user and current_user.isadmin %}
    <div class="actionbar" style="height:35px; ">
        <div class="boxlinks_action boxlinks"  style="margin-top:-4px;">
            <ul>
                <li><a href="/service/edit/" id="addapp" objid="0">
                    <img  alt="Add New Service" src="/static/images/icon_add.png" style="vertical-align: bottom;" border="0" />
                    Add New Service</a></li>
                <!--<li><a href="/service/appedit" id="addapp" objid="0">
                        <img  alt="Add New App" src="/static/images/icon_add.png" style="vertical-align: bottom;" border="0" />
                        Add New App</a></li>-->
            </ul>
        </div>
    </div>
    {% endif %}
{%- endmacro %}
{% macro serviceform(item,app,mode='admin') %}

    <br />
    {{h.form("/service/edit",  class_="", method='post', id="service_form")}}
        
        <div class="base_form main_form" id="FormWrapper">
            <div class="yui-gc" >
                <div class="yui-u first">
                    <div>
                        <input type="hidden" id="service_id" name="id" value="{{(item and item.id) or '0'}}">
                        <input type="hidden" name="_xsrf" id="_xsrf" value="{{ xsrf_token }}"/>
                        <h1>Service Add/Edit</h1>
                        <strong>Bold</strong> fields are required.
                        <div class="required">
                            <label for="name">Service Name</label>
                            {{h.text('name', value=(item and item.name) or '', size=40)}}
                        </div>
                        <div class="required" id="permalink_div" style="display:block;">
                            <label for="slug">Permalink:</label>
                            <span id="permalink" class="secondary">
                                <span id="editable-slug-span" title="Click to edit this part of the permalink">{{(item and item.key) or ''}}</span>
                                <a href="javascript:void(0)" id="editable-slug-href">Edit</a>
                            </span>
                            <input type="hidden"  size="100" id="permalink"  value="{{(item and item.key) or ''}}" />
                            <br />
                            <input type="text" id="real_permalink" name="real_permalink" 
                                value="{{(item and item.key) or ''}}" style="display:none;"/>
                        </div>
                        <div class="optional">
                            <label for="description">Description:</label>
                            {{h.textarea("description", content=(item and item.description) or '', size="30x3", _style="width=190px;")}}
                        </div>
                        <div class="optional">
                            <label for="app">app:</label>
                            {{h.select("app", [(item and item.app_id) or app_list[0][0]],app_list, id='app')}} <a href="javascript:void(0);" id="add_new_app" objid="0">Add New App</a>
                        </div>
                        <div class="required">
                            <label for="format">Format</label>
                            {{h.text('format', value=(item and item.format) or '', size=40)}}
                        </div>
                        <div class="optional">
                            <label for="method_url">Method URL</label>
                            {{h.text('method_url', value=(item and item.method_url) or '', size=160)}}
                        </div>
                    </div>
                </div>
                <div class="yui-u">
                    <div class="tiny_form">
                       {% if item and item.id > 0 %}
                            <a href="/api/xml/service/{{((item and item.app) and item.app.slug) or 'demisauce'}}/{{(item and item.key) or ''}}">view xml</a>
                            <br />
                            <a href="/services/view/{item.id}}">view html</a>
                        {% endif %}
                        
                        <div class="optional">
                            <fieldset> 
                                <legend>List In Public List?</legend>
                                {{h.radio('list_public', '1',checked=(item and item.list_public == True))}} Yes <br />
                                {{h.radio('list_public', '0',checked=(item and item.list_public == False))}} No <br />
                            </fieldset> 
                        </div>
                        <div class="box2" style="margin:10px 0px;">
                            
                        </div>

                    </div>
                </div>
            </div>
            <div class="actions">
                <input type="submit" class="primary" id="submit" value="Save &#187;">
                &nbsp;&nbsp;<a href="/service" id="cancelnode">cancel</a>
            </div>
        </div>
    
    {{h.end_form()}}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#service_form').slugeditor({slugfrom: '#name'});
            $('#add_new_app').click(function(){
                var app_form = $('#hidden_app_div').html();
                $('#app_form').attr('id','old_app_form');
                jQuery.facebox(app_form);
                $('#app_form').dshints();
                $('#app_form').submit(function() { 
                    var app_name = $('#app_form #app_name').val();
                    $('#app_form').ajaxSubmit({success: function(responseText, statusText)  {
                        if (statusText == "success") {
                            newid = responseText;
                            $('#service_form #app').append("<option value=\"" + newid + "\">"+ app_name + "</option>");
                            $('#service_form #app').val(newid); 
                            //alert(responseText + app_name);
                            $('#facebox .close').trigger('click');
                            $('#old_app_form').attr('id','app_form');
                        } else {
                            alert(statusText)
                        }
                    }});
                    return false; 
                });
            });
        });
    </script>
    <div id="hidden_app_div" style="display:none">
        {{app_form(None)}}
    </div>
    <div class="clear"></div>

{%- endmacro %}
{% macro app_form(item) %}
    {{h.form('/service/appedit',  method='post', id="app_form")}}
    <div class="base_form small_form" id="FormWrapper">
        <div>
            <div style="margin:12px 12px">
                <input type="hidden" id="app_id" name="app_id" value="{{(item and item.id) or '0'}}">
                <h3>App Add/Edit</h3>
               <div class="required">
                    <label for="app_name">App Name</label>
                    {{h.text('app_name', value=(item and item.name) or '', size=40)}}
                </div>
                <div class="required" id="permalink_div2" style="display:block;">
                    <label for="slug">Permalink:</label>
                    <span id="permalink2" class="secondary">
                        <span id="editable-slug-span2" title="Click to edit this part of the permalink">{{(item and item.slug) or ''}}</span>
                        <a href="javascript:void(0)" id="editable-slug-href2">Edit</a>
                    </span>
                    <input type="hidden"  size="100" id="permalink2"  value="{{(item and item.slug) or ''}}" />
                    <br />
                    <input type="text" id="real_permalink2" name="real_permalink2" 
                        value="{{(item and item.slug) or ''}}" style="display:none;"/>
                </div>
                <div class="required">
                     <label for="base_url">Base Url</label>
                     {{h.text('base_url', value=(item and item.base_url) or '', size=40)}}
                 </div>
                <div class="optional">
                    <label for="description">description:</label>
                    {{h.textarea("description", content=(item and item.description) or '', size="45x3")}}
                </div>
                <div class="optional">
                    <fieldset> 
                        <legend>Auth Method?</legend>
                        {{h.radio('authn', 'demisauce',checked=(item and item.authn  == 'demisauce'))}} demisauce <br />
                        {{h.radio('authn', 'oauth',checked=(item and item.authn  == 'oauth'))}} oauth <br />
                        {{h.radio('authn', 'xmlrpc',checked=(item and item.authn  == 'xmlrpc'))}} xmlrpc <br />
                        {{h.radio('authn', 'None',checked=(item and item.authn == 'None'))}} None <br />
                    </fieldset> 
                </div>
            </div>
        </div>
        <div class="actions submit">
            <input type="submit" class="primary" id="submit" value="Save &#187;">
        </div>
    </div>
    {{h.end_form()}}
    <script type="text/javascript">
    $(document).ready(function(){
        $('#app_form').slugeditor({permalink_sel: '#real_permalink2',
                permalink_span: '#editable-slug-span2',
                permalink_edit: '#editable-slug-href2',
                permalink_div: '#permalink_div2',
                slugfrom: '#app_name'});
    });
    </script>
{%- endmacro %}


{% macro table(items) %}
<table class="dsadmin">
    <thead>
        <tr>
            <th>View</th>
            <th>Xml</th>
            <th></th>
            <th>Date</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
   {% for item in items %}
        <tr class="{{loop.cycle("", "alternate") }}">
            <td><a href="/service/view/{{item.id}}">{{item.name}}</a></td>
            <td><a href="/api/xml/service/{{item.app.slug}}{{item.key}}"></a></td>
            <td><a href="/service/edit/{{item.id}}">Edit</a></td>
            <td>{{(item.created).strftime("%b %d, %Y") or ''}}</td>
            <td><a href="/user/viewh/{{item.owner.hashedemail}}">{{item.owner.displayname}}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{%- endmacro %}
{% macro detail_view(item) %}
<dl>
    <dt>Name:</dt>          <dd><h3>{{item.name}}
       {% if item.site_id == current_user.site_id or (current_user is defined and current_user.issysadmin) %}
            <a href="/service/edit/{{item.id}}" class="title">Edit</a>
        {% else %}
        
        {% endif %}
    </h3></dd>
    <dt>key:</dt>           <dd>{{item.key}}</dd>
    <dt>Author:</dt>        <dd>
                               {% if current_user and current_user.isadmin and current_user.site_id == item.site_id %}
                                    <a href="/user/viewh/{{item.owner.hashedemail}}">{{item.owner.displayname}}</a>
                                {% else %}
                                    {{item.owner.displayname}}
                                {% endif %}
                            </dd>
    <dt>Created:</dt>       <dd>{{(item.created).strftime("%b %d, %Y") or ''}}</dd>
    <dt>Site:</dt>          <dd><a href="/site/view/{{item.site_id}}">{{item.site.name}}</a></dd>   
    <dt>Site URL:</dt>      <dd>{{item.app.base_url}}</dd>
    <dt>App:</dt>           <dd>{{item.app.name}}</dd>
    <dt>AuthN:</dt>         <dd>{{item.app.authn}}</dd>
    <dt>Service URL:</dt>   <dd>{{item.method_url or 'na'}}</dd>
    <dt>View API:</dt>      <dd><a href="/api/service/{{item.key}}.json">View Json API</a></dd>
    <dt>Cache Time:</dt>    <dd>{{item.cache_time}}</dd>
    <dt>Description:</dt>   <dd>{{item.description}}</dd>
</dl>
    

    
{%- endmacro %}
{% macro app_view(item) %}
<dl>
    <dt>Name:</dt>          <dd><h3>{{item.name}}
                   {% if current_user and current_user.isadmin and current_user.site_id == item.site_id %}
                            <a href="/service/appeditform/{{item.id}}">Edit</a>
                    {% endif %}
    </h3></dd>
    <dt>Slug:</dt>          <dd>{{item.slug}}</dd>

    <dt>Author:</dt>        <dd>
                               {% if current_user and current_user.isadmin and current_user.site_id == item.site_id %}
                                    <a href="/account/viewh/{{item.owner.hashedemail}}">{{item.owner.displayname}}</a>
                                {% else %}
                                    {{item.owner.displayname}}
                                {% endif %}
                            </dd>
    <dt>Created:</dt>       <dd>{{(item.created).strftime("%b %d, %Y") or ''}}</dd>
    <dt>Site:</dt>          <dd><a href="/site/view/{{item.site_id}}">{{item.site.name}}</a></dd>  
    <dt>base_url:</dt>      <dd>{{item.base_url}}</dd> 
    <dt>Description:</dt>   <dd>{{item.description}}</dd>
    <dt>Public:</dt>        <dd>{{item.list_public}}</dd>
    
</dl>
    

    
{%- endmacro %}
{% macro publicview(items) %}
   {% for item in items %}
       {% if item.site_id == cite_id or item.list_public or (current_user is defined and current_user.issysadmin) %}
            <div class="{{loop.cycle("", "alternate") }}">
                <a href="/service/view/{{item.id}}">{{item.name}}</a>
                {{h2.truncate(item.description, 120)}}
                <br />
            </div>
        {% endif %}
    {% endfor %}
{%- endmacro %}

{% macro minilist(items) %}
{% for item in items %}
   {% if item.site_id == current_user.site_id or item.list_public or (current_user is defined and current_user.issysadmin) %}
        <div>
            <a href="/service/view/{{item.id}}">{{item.name}}</a>
        </div>
    {% endif %}
{% endfor %}
{%- endmacro %}

{% macro appminilist(items) %}
{% for item in items %}
    <div>
        <a href="/service/appview/{{item.id}}">{{item.name}}</a>
    </div>
{% endfor %}
{%- endmacro %}
