<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="Demisauce" type="Demisauce.DemisauceConfiguration,Demisauce"/>
  </configSections>

  <!-- Demisauce CONFIGURATION

	<Demisauce 
		apiKey="1234567890abc"	// required - your API Key
		CacheDuration="3600"	// optional, defaults to 3600 (1 hour)
		>
	</Demisauce>
	-->

  <Demisauce apiKey="a95c21ee8e64cb5ff585b5f9b761b39d7cb9a202" CacheDuration="10">
  </Demisauce>

</configuration>

