<%inherit file="../_base1col.html"/>

{% macro title() %}Demisuace Account Edit{%- endmacro %}

{% macro form(item) %}
    
        <div class="yui-gc" >
            <div class="yui-u first" >
                {{h.form(h.url(action='edit'), method='post')}
                <div style="padding: 12px;" class="base_form main_form">
                    <input type="hidden" id="objectid" name="objectid" value="item and item.id) or '0'}">
                    <h1>User Settings</h1>
                    <strong>Bold</strong> fields are required.
                    <div class="required">
                        <label for="email">Email</label>
                        {{h.text('email', value=(item and item.email) or '', size=40)}
                    </div>
                    <div class="required">
                        <label for="displayname">Name</label>
                        {{h.text('displayname', value=(item and item.displayname) or '', size=40)}
                    </div>
                    <div class="optional">
                        <label for="url">Url:</label>
                        {{h.text("url", value=(item and item.url) or '', size=40)}
                    </div>
                    <div class="actions">
                        <input type="submit" class="primary" id="submit" value="Save &#187;">
                        &nbsp;&nbsp;<a href="/account/usersettings" id="cancelnode">cancel</a>
                    </div>
                </div>
                {{h.end_form()}
                {{h.form(h.url(action='change_pwd'), method='post')}
                <div style="padding: 12px;" class="base_form main_form">
                    <input type="hidden" id="objectid" name="objectid" value="item and item.id) or '0'}">
                    <h1>Change Password</h1>
                    <div class="required">
                        <label for="password">Current Password</label>
                        {{h.text('password', type="password", size=40)}
                    </div>
                    <div class="required">
                        <label for="newpassword1">New Password</label>
                        {{h.text('password1', type="password", size=40)}
                    </div>
                    <div class="required">
                        <label for="newpassword1">New Password Repeat:</label>
                        {{h.text('password2', type="password", size=40)}
                    </div>
                    <div class="actions">
                        <input type="submit" class="primary" id="submit" value="Update &#187;">
                        &nbsp;&nbsp;<a href="/account/usersettings" id="cancelnode">cancel</a>
                    </div>
                </div>
                {{h.end_form()}
            </div>
            <div class="yui-u">
                <div>
                    {{h.link_to('view user xml', '/api/xml/person/%s' % item.hashedemail)}
                
                    <div class="box2" style="margin:10px 0px;">
                        {{h.remote_html('root/help/account/edit')}
                    </div>
                </div>
            </div>
        </div>

{%- endmacro %}

% if current_user and c.person:

    {{form(c.person)}

{% else %}
whoops

{% endif %}
