<%inherit file="../_base1col.html"/>

<%def name="title()">Demisuace Account signup</%def>



<div id="dialog" style="margin-top: 50px;" class="dialog">
    <div id="dialogHead"><h2>Request an Invitation</h2></div>

    ${h.form(h.url(action='interest'),  class_="small", id="interestform")}
        
        <fieldset class="small" style="padding:10px 20px 10px 20px;">
            <div class="instructions"><b></b> We are still in private beta enter your email and we
                will send you an invitation when they are available. 
            </div>
            <br /><br />
            <div class="required">
                <label for="email">Email</label>
                ${h.text_field('email', value=(item and item.email) or '', size=40)}
            </div>
        </fieldset>
        <div class="actions">
            <input type="submit" class="primary" id="submit" value="Submit &#187;">    &nbsp;&nbsp;
            <a href="/" id="cancel">cancel</a>
        </div>
    </form>
    <br />
</div>


<div class="yui-g">
    <div class="yui-g first">
    <div class="yui-g">

    </div>
</div>
