<IfModule mod_rewrite.c>
    # http://heypanda.com/posts/6-Deploying-CodeIgniter-Projects-to-Dreamhost-Using-Capistrano
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    # RewriteRule ^(.*)$ index.php/$1 [L]
    RewriteCond $1 !^(index\.php|images|robots\.txt|css)
    RewriteRule ^(.*)$ /index.php/$1 [L]
    # RewriteEngine on
    # RewriteCond $1 !^(index\.php|images|robots\.txt)
    # RewriteRule ^(.*)$ /index.php/$1 [L]
</IfModule>
