{% extends "_base.html" %}

{% block head_more %}{% endblock %}
{% block bodystart %}
{% endblock %}
{% block body %}

<body class="yui-skin-sam">
<div id="page-wrapper">
    {{ header() }}
    <div id="doc2" class="yui-t7">
        <div id="bd">
            <div id="yui-main">
                <div class="yui-b">
                    {{common.messages()}}
                    <!-- Body -->
                    {% block inner_body %}
                    {% endblock %}
                    <!-- /Body -->
                </div>
            </div>
        </div>
    </div>
    <div class="push" ></div>
</div>
<div id="footer-wrapper">
    {{ footer() }}
</div>
{{ ds_help_overlay }}
</body>
</html>
{% endblock %}
