{% extends "_base2col.html" %}

{% block title %}Demisauce Integration and Services Appliance{% endblock %}
{% block head_more %}{% endblock %}
{% block bodystart %}
{% endblock %}

{% block inner_body %}
<h3>Your Home Page</h3>

<div class="yui-g">
    <div class="yui-u first">
        <div class="box2">
            <h3 style="">Gather Ideas or Feedback!</h3>
            <p style="">Send a request to a group of people to get ideas or feedback on
                how to solve something, issues facing you, etc.
                <a class="more" href="/node/" style="">Get Feedback</a><br />
            </p>
        </div>
        <div class="box2">
            <h3 style="">Problem Solving tools.</h3>
            <p style="">Problem solving using PDCA (<b>P</b>lan, <b>D</b>o,
                <b>C</b>heck, <b>A</b>ct can help you improve your solutions.
                <a class="more" href="/node/new?type=pdca" style="">Start Problem Solving.</a><br />
                <a class="more" href="/cms/PDCA" style="">More about PDCA</a><br />
            </p>
        </div>
        <div class="box2">
            <h3 style="">Gather Ideas or Feedback!</h3>
            <p style="">Send a request to a group of people to get ideas or feedback on
                how to solve something, issues facing you, etc.
                <a class="more" href="/node/" style="">Get Feedback</a><br />
            </p>
        </div>
    </div>



    <div class="yui-u">
        <div class="box2">
            <div class="box-inner">
            <h3 style="">Changes!</h3>
            changes here
            </div>
        </div>
    </div>
</div>
<br />
{% endblock %}