{% extends "_base1col.html" %}

{% block title %}Demisauce Integration and Services Appliance{% endblock %}
{% block head_more %}{% endblock %}
{% block bodystart %}
{% endblock %}

{% block inner_body %}

<div><h1>Demisauce is an Open Source Integration Appliance</h1> 
    <h3 style="line-height:1.5em;">
        Provision users to common services (Google Apps, Salesforce, 37 Signals)
        or apps (Wordpress, etc).  It also provides the pre-integrated services necessary
        to integrate apps today (Queuing, Logging, Analytics/Reporting).  Unlike 
        most appliances Demisauce focus's
        on integration at the data-level, not just operations/deployment automation.
    </h3> 

</div>
<br />
<style type="text/css">

#mainpage h3 {margin-top:0px;}
#mainpage div div {margin:0;padding:4px 4px 5px 4px;}
#mainpage div.yui-u {border-top: 1px solid #666666;}
ul.summary li {
list-style-position:outside;
list-style-type:disc;
}
</style>
<div id="mainpage">
    <div class="yui-gb" >
        <div class="yui-u first" style="border-right: 1px solid #666666;height:165px">
            <h3 style="">User Provisioning</h3>
            <p style="">
                Call an <i>AddUser API</i> and Demisauce has hooks to add
                that user to LDAP, Google Apps, Salesforce, Wordpress, Memcached.
            </p>
        </div>
        <div class="yui-u" style="background-color:#ddd;border-right: 1px solid #666666;height:165px">
            <h3 style="">Network Plugin Architecture</h3>
            <p style="">
                Inspired by the Wordpress <i>add_action(), do_action()</i> plugin architecture, except
                for network oriented.  A pub-sub type plugin system built
                on top of <a href="http://www.gearman.org">Gearman</a>.
            </p>
        </div>
        <div class="yui-u">
            <h3 style="">Data Services</h3>
            <p style="">
                Do you need to take your content and import tags from Twitter, flickr, etc?  Or
                check links to get their title?  Get RSS feeds and then index them and make them
                searchable instead of just showing in Javascript on client side?

            </p>
        </div>
    </div>
    <div class="yui-g" >
        <div class="yui-u first" style="background-color:#ddd;border-right: 1px solid #666666;height:142px;margin-right:-1px;">
            <h3 style="">Appliance at the Data Level</h3>
                This appliance is trying to integrate at the data level:  for instance, all your users are together in LDAP, 
                and provisioned to apps such as Wordpress, Google Apps, Salesforce.  
                Also, logging from web logs is available in reporting.
                Events logged from apps get moved to reporting engine.   
            </p>
        </div>
        <div class="yui-u">
            <h3 style="">Data Integration Reporting</h3>
            <img src="http://demisaucepub.s3.amazonaws.com/s3/activity_t.jpg" style="float:right;" width="100" height="59" border="0" />
            <p style="">
                By integrating at a data level, we can move events such 
                as user-logon's, nginx/apache log files (for a specific user), etc over to
                reporting.  Then filter these events to build segments (all users
                that use wordpress at least 20 times, all users never used wordpress).
            </p>
        </div>
    </div>
    <div class="yui-gc" >
        <div class="yui-u first" style="border-right: 1px solid #666666;height:142px">
            <h3 style="">Why?</h3>
            <p style="">
                <ul class="summary">
                    <li>With move to Cloud Services such as Google Apps/Salesforce
                        many companies are needing to integrate with these services, this 
                        appliance makes it easier.</li>
                    <li>Existing appliances focus on deploying software,
                        not integrating that software so events in one piece are
                        available in reporting etc.</li>
                </ul>
            </p>
        </div>
        <div class="yui-u" style="border-right: 0px solid #666666;height:142px;background-color:#ddd;margin-left:-1px;">
            <h3 style="">Documentation & Code</h3>
            <p style="">
                <a href="http://demisaucedoc.appspot.com">Documentation</a><br />
                <a href="http://github.com/araddon/demisauce/tree/master">Source Code</a>
            </p>
        </div>
    </div>
</div>
<div style="height:40px;">&nbsp;</div>
{% endblock %}
