<div id="dialog" style="margin-top: 5px;" >
    <form action='/user/inviteusers_POST' class="small" id="inviteusersform">

        {{h.textarea('emails', value=(item and item.email) or '', size="50x6", style="width:90%;")}}

        <div class="actions submit">
            <input type="submit" class="primary" id="submit" value="Submit &#187;">    &nbsp;&nbsp;
            <a href="javascript:void(0);" id="inviteusers_cancel">cancel</a>
        </div>
        
     </form>
    <br />
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $("#emails").focus();
        $("#inviteusers_cancel").click(function() {
            $("#inviteusersformdiv").hide();
            $("#actionbarusers").show();
        });
        $('#inviteusersform').submit(function() {
            $(this).ajaxSubmit({success: function(responseText, statusText)  {
                if (statusText == "success") {
                    newid = responseText;
                    $.showmessage('Users Added  ');
                    $("#inviteusersformdiv").hide();
                    //.before('<div><a href="/user/view/' + newid + "></a> \
                    //, Not Verified</div>');
                } else {
                    $.showmessage('There was an error  ' );
                }
            }});
            return false;
        });
    });
</script>



