{% extends "_base1col.html" %}

{% block title %}Demisauce Account Signup Page{% endblock %}
{% block head_more %}
{% endblock %}
{% block bodystart %}
{% endblock %}

{% block inner_body %}




<div id="dialog" style="margin-top: 50px;" class="dialog base_form">
    <div id="dialogHead"><h2>Welcome To demisauce</h2></div>

    <form id='signupform' class="small" method="POST" action="/user/site_signup">
        <input type="hidden" id="invitecode" name="invitecode" value="{{invitecode}}" />
        <input type="hidden" name="_xsrf" id="_xsrf" value="{{ xsrf_token }}"/>
        <h3 style="margin:0px;" >Verify your Invitation</h3>
            <div class="instructions"><b>Welcome!</b>To set up your site you need to provide
                a little more info, and select a password!</div>
        <fieldset style="margin-top:0px;text-align:left;padding:10px 10px 10px 25px; " class="small">
            <div class="required">
                {{common.input(form.displayname)}}
            </div>
            <div class="required">
                {{common.input(form.sitename)}}
            </div>
            <div class="required">
                <label for="password">Password</label>
                {{h.text('password', type="password", size=40)}}
                {{common.field_errors(form.password)}}
            </div>
            <div class="required">
                <label for="password2">Verify Password</label>
                {{h.text('password2', type="password", size=40)}}
                {{common.field_errors(form.password2)}}
            </div>
        </fieldset>
        <div class="actions">
            <input type="submit" class="primary" id="submit" value="Create Account &#187;">    &nbsp;&nbsp;
            <a href="/" id="cancel">cancel</a>
        </div>
    </form>
    <br />
</div>


<div class="yui-g">
    <div class="yui-g first">
    <div class="yui-g">

    </div>
</div>


{% endblock %}
