<%inherit file="_base.html"/>

<body class="yui-skin-sam">
<div id="page-wrapper">
    ${self.header()}
    <div id="doc2" class="yui-t7">
        <div id="bd">
            <div id="yui-main">
                <div class="yui-b">
                    ${self.messages()}
                    <!-- Body -->
                    ${next.body()}
                    <!-- /Body -->
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer-wrapper">
    ${self.footer()}
</div>
${self.ds_help_overlay()}
</body>
</html>
