<%page args="nonya=''"/>
<%namespace name="mns_cms" file="cms_bits.html"/>
<%inherit file="_base2col.html"/>
<%
    c.attributes['pagehelp'] = 'cmshelp'
    c.attributes['title'] = 'Content Administration page'
%>
{% macro title() %}Content General {%- endmacro %}

{% macro head_more() %}
<link rel="stylesheet" type="text/css" href="/static/css/form.css">

{%- endmacro %}

<script type="text/javascript">
$(document).ready(function(){

    //Left Side Context Tree View
    $("#ContentContextTree").treeview({
        control: "#treecontrol",
        persist: "cookie"
    });
    //Left Side Context Tree View Node Controller
    $("#ContentContextTree").cmsadmin({
        tree:  "#sidebartree",
        control: "#treecontrol",
        persist: "cookie"
    });
    
    
    
    
    $("#add").click(function() {
        var branches = $("<li><span class='folder'>New Sublist</span><ul>" +
            "<li><span class='file'>Item1</span></li>" +
            "<li><span class='file'>Item2</span></li></ul></li>").appendTo("#browser");
        $("#browser").treeview({
            add: branches
        });
        branches = $("<li class='closed'><span class='folder'>New Sublist</span><ul><li><span class='file'>Item1</span></li><li><span class='file'>Item2</span></li></ul></li>").prependTo("#folder21");
        $("#browser").treeview({
            add: branches
        });
    });
});
</script>


{% macro sidebar_top() %}



% if c.root:
    <div id="treecontrol">
        <a href="#">Collapse All</a>
        <a href="#">Expand All</a>
        <a href="#">Toggle All</a>
    </div>
    <ul id="ContentContextTree" class="filetree">
    {{mns_cms.treeview(c.root,edit=True,isroot=(c.isroot or False))}
    </ul>
{% endif %}

{%- endmacro %}



<div id="CmsItemFormWrapper" class="" >
{{mns_cms.item_actions(c.item)}
{{mns_cms.form(c.item)}
</div>

