{% extends "_base1col.html" %}

{% block title %}Error{% endblock %}
{% block head_more %}{% endblock %}
{% block bodystart %}
{% endblock %}

{% block inner_body %}
<div class="yui-g" style="clear:both;margin:0 auto;padding-top:10px;">
    {% if code == 404 %}
        <div class="module yui-u first" style=""> 
            <div id="list-1234" class="list widgetb">
                <h3>Sorry, we could not find that page.  Please try again.</h3>
            </div>
        </div>
        <div class="module yui-u" style=""> 
            <div id="list-1234" class="list widgetb">
                <h3>We have logged this and will get working on it.</h3>
            </div>
        </div>
    {% elif code == 403 %}
        <div class="module yui-u first" style=""> 
            <div id="list-1234" class="list widgetb">
                <h3>Sorry, the page you requested requires you to be logged on and have the right to see that page.</h3>
            </div>
        </div>
        <div class="module yui-u" style=""> 
            <div id="list-1234" class="list widgetb">
                <h3>We have logged this and will get working on it.</h3>
            </div>
        </div>
    {% elif code == 500 %}
        <div class="module yui-u first" style=""> 
            <div id="list-1234" class="list widgetb">
                <h3>Sorry, our server encountered an error.  </h3>
            </div>
        </div>
        <div class="module yui-u" style=""> 
            <div id="list-1234" class="list widgetb">
                <h3>We have logged this and will get working on it.</h3>
            </div>
        </div>
    {% else %}
    {% endif %}
</div>

{% endblock %}