<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <script type="text/javascript" src="/static/js/jquery-1.2.6.pack.js"></script>
    <script type="text/javascript" src="/static/js/gears_init.js"></script>
    <script type="text/javascript" src="/static/js/ds.gears.js"></script>
    <link rel="stylesheet" href="/static/css/local.css" />
    <title>Demisauce Google Gears Debugging</title>
    <style type="text/css">
        <!--
        .style1 {color: #003399;font-style: italic;font-weight: bold;font-size: large;}
        .style3 {color: #009933;font-weight: bold;font-style: italic;}
        -->
    </style>
</head>
<body>
<h2>Getting offline-enabled documents with Gears </h2>
<p>&nbsp;{{c.now}</p>

<div>
  <p class="style1">Status Message: <span id="debug_output" class="style3"></span></p>
</div>


<p><strong>Q:</strong> I want to see these documents when I'm not online! What must I do?<br />
<strong>A:</strong> <a href="http://gears.google.com/">Install Gears</a> on your computer and then click &quot;Capture&quot; to store the documents to your computer. You can then access the URLs without a network connection. </p>
<p>
    <a href="#" id="create_store"> Capture </a>
  <button  id="">  </button>
 </p>

<img src="/static/images/info.png" />
<p><strong>Q:</strong> I want to remove my offline access to these documents. What must I do?<br />
<strong>A: </strong>Click &quot;Erase&quot; below to removed the &quot;captured&quot; documents from your computer.  The documents will no longer be available without a network connection. </p>
<p>
  <a href="#" id="remove_store"> Erase </a>
</p>
<script type="text/javascript">
$(document).ready(function(){
   
    $.ds.gears.init({debug:true})
    $('#create_store').click(function(){
        $.ds.gears.create_store();
    });
    $('#remove_store').click(function(){
        $.ds.gears.remove_store();
        $.ds.message("Done. The local store has been removed." +
                "You will now see online versions of the documents.");
    });
});
</script>
</body>
</html>