<%inherit file="_base1col.html"/>

<%def name="title()">Demisauce, open source content management, knowledge base, and other services.</%def>
<%def name="head_more()"></%def>


<div><h3>Demisauce is an Open Source services tool for delivering Content Management, Knowledge base,
    Email Templates, and via Web services for use within existing applications.</h3>
    Admin tools to administer content which is offered over web services to be displayed within your applications.

</div>
<br />

<div class="yui-gb">
    <div class="yui-u first">
        <%call expr="self.box2()">
            <h3 style="">Comment System</h3>
            <p style="">
                A comment system that can be included inside an application or content to provide 
                javascript enabled commenting.  <a href="http://aaronspotlatch.appspot.com/tag/commentsystem">See blog article</a> explaining a bit more.
            </p>
        </%call>
        <%call expr="self.box2()">
            <h3 style="">Content Management</h3>
                <p style="">If you have wanted to manage content for display
                in your existing application but not wanted the Page Templating, and frameworks
                that they come with, this is the content management, without page templating.
                <!--<a class="more" href="/v/cmsfeatures/" style="">CMS Features</a>-->
            </p>
        </%call>
        <%call expr="self.box2()">
            <h3 style="">Email Template Management</h3>
                <p style="">Email templates seem to get embedded in code, text files, databases,
                and numerous other places all over many different software applications.
                <br />
                This service provides admin tools to manage the templates, but getting them is a simple
                web service call (cached) using a library.
            </p>
        </%call>
    </div>

    <div class="yui-u">
        <%call expr="self.box2()">
            <h3 style="">About</h3>
                <p style="">This project started out of seeing the custom software applications
                (Java/.NET mostly) where the core developers worked.  So much focus was placed on
                core needs, that periphery things like email templates, content, integrated help,
                feedback tools etc took a back seat.

                <img src="/images/DS1.png" />

            </p>
        </%call>
        <%call expr="self.box2()">
            <h3 style="">How does it work?</h3>
                <p style="">There is a python, and also a DotNet (C#) client's to talk to the web services.
                    There is also a DotNet (C#) demo project that utilizes the cms capabilities.  
            </p>
        </%call>
    </div>

    <div class="yui-u">

        <div class="box boxbb">
            <h3 style="">Services for your App via SOA</h3>
                <p style="">Web based administration tools to manage content.  Access the content from
                your application through easy client libraries.
                <img src="/images/AfterDemi2smaller.png" />

                Or, browser to server services...
                <img src="/images/BrowserServiceSmall.png" />
            </p>
        </div>
    </div>
</div>

<br />
<div class="yui-gb">
    <div class="yui-u first">

    </div>
    <div class="yui-u">

    </div>
    <div class="yui-u">

    </div>
</div>
