{% extends "base.html" %}

{% load cache %}

{% block title %}Hello World remote html include demo, title{% endblock %}


{% block content %}

    {% if entry %}
        {% if entry.phphello %}
            {% autoescape off %}
            {{ entry.phphello.views.summary }}
            found
            {% endautoescape %}
        {% else %}
            <h1>the entry.phphello isn't mapped.</h1>
        {% endif %}
    {% else %}
        <p>No test are available.</p>
    {% endif %}

{% endblock %}


        


