{% extends "base.html" %}


{% block title %}hello, title{% endblock %}


{% block content %}
{% if entry_list %}
    
    {% for entry in entry_list %}
    <div class="post">
        <h1 class="title"><a href="/blog/view/{{ entry.id }}">{{ entry.title }}</a></h1>
        <p class="byline"><small>Posted on {{ entry.pub_date|date:"F d, Y" }} 
            by <a href="#">admin</a> | <a href="#">Edit</a></small></p>
        <div class="entry">
    		{{ entry.content }}
    		
    		{% if entry.comments %}
    		<br /><br />
    		has comments  {{ entry.comments.model.created }}
    		{% else %}
    		no comments
    		{% endif %}
    	</div>
    	<p class="meta"><a href="#" class="more">Read More</a> &nbsp;&nbsp;&nbsp; <a href="#" class="comments">Comments (33)</a></p>
    </div>
    {% endfor %}
    
{% else %}
    <p>No entries are available.</p>
{% endif %}

{% endblock %}


        


