{% extends "base.html" %}

{% load cache %}




{% block title %}hello, title{% endblock %}


{% block content %}
{% if entry_list %}
    
    {% cache 50 sidebar %}
        .. cached item with changesffaaa aaa ..
    {% endcache %}
    {% for entry in entry_list %}
    <div class="post">
        <h1 class="title"><a href="/blog/view/{{ entry.id }}">{{ entry.title }}</a></h1>
        <p class="byline"><small>Posted on {{ entry.pub_date|date:"F d, Y" }} 
            by <a href="#">admin</a> | <a href="#">Edit</a></small></p>
        <div class="entry">
            {{ entry.content }}
            
        </div>
        <p class="meta">
            <a href="#" class="more">Read More</a> &nbsp;&nbsp;&nbsp; 
            <a href="#" class="comments">Comments (33)</a></p>
        {% if show_comments %}
            {% if entry.comments %}
                {% autoescape off %}
                {{ entry.comments.views }}
                {% endautoescape %}
                
            {% else %}
            no comments
            {% endif %}
        {% endif %}
    </div>
    {% endfor %}
    
{% else %}
    <p>No entries are available.</p>
{% endif %}

{% endblock %}


        


