<%def name="item_actions(item)">
    <div class="actionbar" style="height:34px; ">
        <div class="boxlinks right"  style="margin-top:-4px;">
            <ul>
                <li><a href="javascript:void(0)" id="sorttab" class="current">Sort</a></li>
                <li><a href="/email/edit" id="addemail" objid="${(item and item.id) or '0'}">
                    <img  alt="Add New Email Template" src="/images/icon_add.png" style="vertical-align: bottom;" border="0" />
                    Add New Template</a></li>
            </ul>
        </div>
    </div>
</%def>

<%def name="show_comment(item)">
    <div class="${h.cycle("ds-comment-even", "ds-comment-odd") }">
    % if item.hashedemail:
        <img alt="" src="http://www.gravatar.com/avatar/${item.hashedemail}?s=24" 
            class="avatar avatar-48" height="24" width="24">
    % endif
    % if item.blog:
        <a href="${item.blog}" >${item.authorname}</a>
    % else:
        ${item.authorname}
    %endif
     on ${item.created.strftime("%b %d, %Y")}<br /> ${item.clean_comment.replace('&amp;apos;',"\\'")}

    </div>
</%def>
<%def name="view(item)">
    <div id="cmsitem_${item.id}" class="nodedisplay clearfix">
        <div class="content_block">

            % if item.isuser:
                ${h.link_to(item.email, '/account/viewh/%s' % item.hashedemail, class_="title")}
            % else:
                ${item.email}, ${item.isuser}
            % endif
            
            % if item.hashedemail:
                <img alt="" src="http://www.gravatar.com/avatar/${item.hashedemail}?s=24" class="avatar avatar-48" height="24" width="24">
            % endif
            
            , IP:${item.ip}

            <p class="description">
                ${h.simple_format(item.comment)}
            </p>
        </div>
    </div>
</%def>
<%def name="table(items)">
<table class="dsadmin">
    <thead>
        <tr >
            <th class="check-column"><input type="checkbox"/></th>
            <th>Author</th>
            <th>Date</th>
            
            <th>comment</th>
        </tr>
    </thead>
    <tbody>
    % for item in items:
        <tr class="${h.cycle("", "alternate") }">
            <td><input type="checkbox"/></td>
            <td>
                % if item.isuser:
                    ${h.link_to(item.email, '/account/viewh/%s' % item.hashedemail, class_="xtitle")}
                % else:
                    ${item.email}, ${item.isuser}
                % endif
                % if item.hashedemail:
                <img alt="" src="http://www.gravatar.com/avatar/${item.hashedemail}?s=24" class="avatar avatar-48" height="24" width="24">
                % endif
            </td>
            <td>${(item.created).strftime("%b %d, %Y %H:%m") or ''}</td>
            <td>${h.simple_format(h.truncate(item.comment, 50))}</td>
        </tr>
        
    % endfor
    </tbody>
</table>
${items.dspagerhtml}
</%def>
<%def name="list(cmsitems)">
    % for item in cmsitems:
            ${view(item)}
    % endfor
</%def>

<%def name="form(item)">

    <div id="ds-commentform-div">
        ${h.form('%s/comment/commentform/%s' % (c.base_url,c.site_slug), id="commentform", method='post')}
            <input type="hidden" id="objectid" name="objectid" value="${(item and item.id) or '0'}" />
            <input type="hidden" id="site_key" name="site_key" value="${c.site_key}" />
            <input type="hidden" id="source" name="source" value="${c.source}" />
            <input type="hidden" id="return_url" name="return_url" value="${(c.return_url and c.return_url) or 'http://whoops'}" />
            <input type="hidden" id="rid" name="rid" value="${c.resource_id}" />
            % if item:
                Post as:  ${item.displayname}
                % if item.hashedemail:
                <img alt="" src="http://www.gravatar.com/avatar/${item.hashedemail}?s=24" class="avatar avatar-48" height="24" width="24">
                % endif
                <input type="hidden" id="goto" name="goto" value="${c.goto_url}" />
                ${h.hidden_field('authorname', value=(c.user and c.user.displayname) or '')}
                ${h.hidden_field('email', value=(c.user and c.user.email) or '')}
                <div>
                    ${h.text_area("comment", content=(c.item and c.item.comment) or 'type your comment here', size="30x5", class_="hint", tabindex=1)}
                </div>
                <div>
                    <input name="submit" type="submit" id="submit" tabindex="2" value="Submit Comment" />
                </div>
            % else:
                <input type="hidden" id="goto" name="goto" value="${c.goto_url}" />
                <div>
                    ${h.text_field('authorname', value=(item and item.authorname) or 'your displayname', size=22, class_="hint", tabindex=1)}
                    <label for="authorname">(required)</label>
                </div>
                <div>
                    <input type="text" name="email" id="email" value='Email'  class="hint" size="22" tabindex="2" />
                    <label for="email">(Required), will not be visible, used for <a href="http://www.gravatar.com/check">Gravatar</a></label>
                </div>
                <div>
                    <input type="text" name="blog" id="blog" size="22" tabindex="3" value="your blog url" class="hint" />
                    <label for="blog"></label>
                </div>
                <div>
                    ${h.text_area("comment", content=(item and item.comment) or 'type your comment here', size="30x4", class_="hint", tabindex=4)}
                </div>
                <div>
                    <input name="submit" type="submit" id="submit" tabindex="5" value="Submit Comment" />
                </div>
            % endif
        ${h.end_form()}
    </div>
    <script type="text/javascript">
    $(document).ready(function(){
        $('#commentform').dshints();
        $('#ds-commentform-div #return_url').val(window.location.href);
    });
    </script>
</%def>
