<%namespace name="comment" file="comment_bits.html"/>

<style type="text/css" media="screen"> 
    .ds-comment-odd {background-color: #FAFAFA;margin:4px;padding:4px;} 
    .ds-comment-even {background-color: #DDDDDD;margin:4px;padding:4px;} 
</style>

<div id="demisauce-comments">

% if c.items and len(c.items) > 0:
    % if c.items and len(c.items) > 1:
        <div><h3>${len(c.items)} Comments</h3></div>
    % endif
    % for item in c.items:
        ${comment.show_comment(item)}
    % endfor
% else:
    <div>No Comments</div>
% endif

% if c.show_form:
    
    <!--{comment.form(c.user)}-->
    <div id="ds-inputform-div">
        <iframe width="100%" height="200" frameborder="0" 
            src="${c.base_url}/comment/commentform/${c.site_slug}?url=${c.url}"  allowtransparency="true" \
            vspace="0" hspace="0" marginheight="0" marginwidth="0" name="ds-input-login">
        </iframe>
    </div>
    <script type="text/javascript">
    $(document).ready(function(){
        $('#demisauce-comments').comments({commentiframe:false});
    });
    </script>
% endif

</div>



